[2014-11-20 18:03] melchoyce opened #9 "Create new icons"
- [x] Reader (Newspaper)
- [x] Notifications
- [x] Me/My Sites (Person in a circle)
- [x] Settings (Gear, cog)
- [x] New Post (Pencil with plus, plus by itself)
- [x] Primary Blog (House)
- [x] New [x](Plus)
- [x] Stats (Bar graph)
- [x] Posts (Thumbtack, pencil)
- [x] Pages (Paper)
- [x] Comments (Speech bubble)
- [x] Likes (Star)
- [x] Heart
- [x] Reblog (Arrows pointing at themselves)
- [x] Fol

[2014-11-24 18:16] mattmiklic opened #10 "Icons should all have the same visual weight"
In using Gridicons so far I've found that not all the icons appear optically to be the same size, despite our 24px grid. From <a href="https://developer.chrome.com/webstore/images#iconsize">Google's guidelines</a> on icon design:

You can see the issue here:

![screen shot 2014-11-24 at 1 15 13 pm](https://cloud.githubusercontent.com/assets/1396552/5170214/0292376c-73dc-11e4-8590-80ed7f66a7c2.png)

[2015-02-26 17:47] davewhitley opened #16 "Grid tweaks to Gridicons page"
Looking at the Gridicons page, I find it a little hard to judge the balance of the icons. I'm not sure if that's because of the amount of icons on the page (not enough?), the size, or the cell spacing.

![screen shot 2015-02-26 at 11 43 45 am](https://cloud.githubusercontent.com/assets/618551/6397767/c423176a-bdac-11e4-99f5-a19317199e57.png)

I think maybe the icon should be sized down, and the ce

[2015-02-27 16:02] #16 closed, assigned to jasmussen

[2015-02-27 17:33] jasmussen opened #19 "Move icon development from Illustrator to Sketch?"
Right now all gridicons are designed in Illustrator. Each icon has an artboard on its own. Each is saved as SVG and exported, then renamed and grunted.

The process is not super difficult, but it's also not super smooth either. Would migrating to Sketch improve the situation here?

I'm somewhat new to Sketch myself, but it seems like Sketch would allow for somewhat simpler exporter options, not on

[2015-02-27 17:41] #10 closed, assigned to nobody

[2015-02-27 17:51] jasmussen opened #20 "Export React component.jsx files alongside the SVG sprite?"
It was @MichaelArestad's idea: alongside the current SVG sprite that works well with traditional webpages, we should consider adding a step to the Grunt compiler that directly outputs a React `jsx` file for use in Calypso. The benefits would be that it's slightly easier to use the icons directly in React based applications, but mostly that it's more componentized.

It could be implemented in two w

[2015-03-25 12:25] #19 closed, assigned to nobody

[2015-03-30 20:01] davewhitley opened #23 "Ai doesn't allow for more than 100 artboards"
We'll need to adjust gridicons.ai so that it doesn't need 1 artboard per icon.

[2015-04-01 15:13] davewhitley opened #27 "Merge in new Gridicons"
Big milestone: merging in the initial set of Gridicons containing enough icons to make it usable.

See also: #9

[2015-05-26 20:36] #23 closed, assigned to nobody

[2015-05-28 18:03] #27 closed, assigned to nobody

[2015-05-28 18:09] davewhitley opened #31 "Add icons: Follow and Following"
My initial idea was to make the "follow" and "following" icons a square, since we now make the distinction between squares and circles for blavatars and avatars:

![screen shot 2015-05-28 at 4 05 42 pm](https://cloud.githubusercontent.com/assets/618551/7871133/9778e82c-0553-11e5-84d9-093568d7ff45.png)

Another option is to use a circle instead, which looks good, but doesn't have the nice the squar

[2015-05-28 18:10] davewhitley opened #32 "Add icon: Support"
Lifesaver or something similar.

Idea:

![screen shot 2015-05-28 at 1 10 14 pm](https://cloud.githubusercontent.com/assets/618551/7867316/e8287cce-053a-11e5-87c6-8a8b701b5f8d.png)

[2015-05-28 18:11] davewhitley opened #33 "Add icon: Plugins"
For Jetpack sites in the sidebar.

[2015-05-28 20:11] davewhitley opened #34 "Add icon: RSS"
Do we need an RSS icon? Does that count as a logo?

[2015-05-28 20:14] davewhitley opened #35 "Add icon: Features"
@folletto Do we need a "features" icon (puzzle piece) and "price" icon (paper currency) for themes? They are on the list of icons we need made, but I know you are working on the theme showcase and I was wondering if you plan on using those 2 icons.

[2015-05-28 20:22] davewhitley opened #36 "Add icon: Insert Embed"
Here are some ideas. We don't want it to conflict with fullscreen (#40) though.

![screen shot 2015-05-28 at 3 21 57 pm](https://cloud.githubusercontent.com/assets/618551/7870220/5d830fb8-054d-11e5-9d7c-4f36358f99d2.png)

[2015-05-28 20:30] davewhitley opened #37 "Add icon: Themes"
Traditionally this has been a painter's palette. It sort of makes sense, but a palette represents color more than anything. I think this icon works pretty well for themes (currently in gridicons as "layout"):

![screen shot 2015-05-28 at 3 29 44 pm](https://cloud.githubusercontent.com/assets/618551/7870360/6394cada-054e-11e5-9abe-59095d5d84b9.png)
:

[2015-05-28 20:30] davewhitley opened #38 "Add icon: Customizer"
Paintbrush?

[2015-05-28 20:32] #9 closed, assigned to nobody

[2015-05-28 20:32] davewhitley opened #39 "Add icon: Share/Sharing"
We need to choose a share icon for the web.

In the native apps, we should use the standard share icons (or our own versions) on each platform (iOS and Android):

![44 share-128](https://cloud.githubusercontent.com/assets/618551/7870642/58785fd4-0550-11e5-9f10-13926074c360.png)
![rg6iz](https://cloud.githubusercontent.com/assets/618551/7870643/58b6e146-0550-11e5-9f52-fdeb2fd0c38f.png)

For the web

[2015-06-01 14:51] drw158 opened #40 "Add icons: Fullscreen/exit fullscreen"
Ideas:

![screen shot 2015-06-01 at 9 51 04 am](https://cloud.githubusercontent.com/assets/618551/7915533/c28ff0a8-0843-11e5-9846-d1a93cdab64d.png)

[2015-06-01 21:37] davewhitley opened #41 "Chevron icons look too small"
They look too small compared to the other icons (close and share in this case):

![iphone 6](https://cloud.githubusercontent.com/assets/618551/7923889/708e3b78-087c-11e5-99d9-2eb53866a3f3.png)

Maybe there should be a `chevron` and `chevron-small` ?

[2015-06-03 16:07] #41 closed, assigned to davewhitley

[2015-06-05 09:48] ockham opened #43 "Add icons: Wordpress.com CPTs"
Please add icons for custom post types used by themes on Wordpress.com. Use case: calypso 'My Sites' Sidebar menu -- basically replacing wp-admin's CPT menu items dashicons.

This includes
- testimonials (as used by the Sela, for example)
- restaurant menus (e.g. Confit & Bon Vivant themes)
- rooms (Stay theme)
- and possibly a 'default' one (currently using 'noticon-document')

[2015-06-12 15:45] melchoyce opened #44 "Add Icon: Credit Card"
Useful for things like payment forms or payment labels.

[2015-06-12 15:54] kellychoffman opened #45 "Add Icon: Media"
A media icon to cover more than just images. Something like what we have in dashicons.
![screen shot 2015-06-12 at 9 43 44 am](https://cloud.githubusercontent.com/assets/5835847/8132477/a56493ce-10e7-11e5-9e1b-4652e000756e.png)

[2015-07-15 20:39] drw158 opened #47 "Add icon: Price"
Previously mentioned here: #35

[2015-07-17 16:11] kellychoffman opened #48 "Add Icons: Sharing icons"
Sharing (`sharing/`) uses the following social icons:
- [x] Facebook
- [x] Twitter
- [x] Google+
- [x] LinkedIn
- [x] Tumblr
- [x] Path
- [x] Eventbrite

And the sharing buttons (that are not listed above)
<img width="443" alt="sharing buttons" src="https://cloud.githubusercontent.com/assets/5835847/8751860/f828fc88-2c7d-11e5-9692-9e8afb8b4e27.png">
- [x] Mail
- [x] Print
- [ ] Reddit
- [x] Press

[2015-07-17 17:06] kellychoffman opened #49 "Add Icon: Gallery"
In the editor, you can set posts formats, such as a gallery:

From IO editor:
<img width="284" alt="gallery" src="https://cloud.githubusercontent.com/assets/5835847/8752629/5830662a-2c83-11e5-83ff-76bcb5f5d0b0.png">

[2015-07-17 17:07] kellychoffman opened #50 "Add Icon: Aside post format"
In the editor, you can set posts formats, such as an aside:

From IO editor:
<img width="254" alt="aside" src="https://cloud.githubusercontent.com/assets/5835847/8752597/0b6e662a-2c83-11e5-884e-9dece756e131.png">

[2015-07-17 17:07] kellychoffman opened #51 "Add Icon: post format"
In the Editor (`/post`), we use icons in the sidebar to represent the various metaboxes. We have gridicons for all but post format.

This is what we are using now, but I'm open to other suggestions:
<img width="284" alt="post format" src="https://cloud.githubusercontent.com/assets/5835847/8752045/88acf128-2c7f-11e5-9596-de1ff25442b8.png">

[2015-07-17 17:30] kellychoffman opened #52 "Add Icon: Schedule"
In the editor, you can schedule a post.

Currently we are using a clock icon:
<img width="263" alt="schedule" src="https://cloud.githubusercontent.com/assets/5835847/8753221/e6a2a2e8-2c87-11e5-9d1c-e461eaee6828.png">

[2015-07-17 17:31] folletto opened #53 "Add Icon: (Theme) Features"
We need an icon for general theme features.

Current screenshot from the Theme Showcase 4.0:

![screen shot 2015-07-17 at 18 30 39](https://cloud.githubusercontent.com/assets/4389/8753244/fc7eb906-2cb1-11e5-8812-949d26a17554.png)

[2015-07-17 17:34] folletto opened #54 "Add icon: Menus / Hierarchy (2 icons?)"
This could also be TWO icons, not one:
- We need an icon for **Menus**
- Menus is currently using the **Hiearchy** icon

Both are currently missing.

Current use of menu icon:

![screen shot 2015-07-17 at 18 33 04](https://cloud.githubusercontent.com/assets/4389/8753306/72c172b6-2cb2-11e5-981d-cd5ba98aa020.png)

![screen shot 2015-07-17 at 18 32 57](https://cloud.githubusercontent.com/assets/4389/

[2015-07-17 17:50] #52 closed, assigned to nobody

[2015-07-17 17:58] kellychoffman opened #55 "Add Icons: tinyMCE formatting icons"
In the editor, we have all the tinyMCE formatting icons except for:
- [x] justify text
- [x] underline
- [x] text color :shudder:
- [x] clear formatting
- [x] paste as text (could reuse or alter `gridicons-clipboard`)
- [x] special character
- [x] increase indent (could be based on `gridicons-align-image-left`)
- [x] decrease indent (could be based on `gridicons-align-image-right`)

[2015-07-17 18:15] kellychoffman opened #56 "Add Icons: Image editing icons"
- [x] Crop
- [x] Rotate left
- [x] Rotate right
- [x] Flip horizontal
- [x] Flip vertical
- [x] Undo
- [x] Redo

wp-admin:
<img width="299" alt="wp-admin" src="https://cloud.githubusercontent.com/assets/5835847/8754003/2d9ecd6a-2c8e-11e5-9238-059629fea37a.png">

proposed:
<img width="719" alt="proposed" src="https://cloud.githubusercontent.com/assets/5835847/8754002/2d9a7dd2-2c8e-11e5-8a5d-4926988

[2015-07-17 18:26] kellychoffman opened #57 "Add icons: Audio"
We represent audio files with an icon in the media gallery.

Currently:
<img width="178" alt="audio file" src="https://cloud.githubusercontent.com/assets/5835847/8754162/88f56d4e-2c8f-11e5-8e7d-52b2353ebe59.png">

wp-admin:
<img width="153" alt="wp-admin audio file" src="https://cloud.githubusercontent.com/assets/5835847/8754182/ac94b58e-2c8f-11e5-8fa6-e8ed351bc9eb.png">

[2015-07-17 18:42] kellychoffman opened #58 "Add icon: preview"
We aren't using one in the editor now, but we have talked about trying an `eye` icon for preview.

[2015-07-17 18:46] #58 closed, assigned to nobody

[2015-07-17 19:30] kellychoffman opened #59 "Add icon: Image align: none"
We have left, right, center, but we don't have "No alignment" as an option for image alignment.

<img width="221" alt="no alignment" src="https://cloud.githubusercontent.com/assets/5835847/8755382/83d0e678-2c98-11e5-80b3-c49cb132b9b5.png">

[2015-07-17 21:10] #59 closed, assigned to nobody

[2015-07-20 13:59] folletto opened #61 "Add icons (3): mobile preview devices"
I've been sketching an interface exploration with different screen breakpoints, so I tried to use Gridicons as well instead of dashicons and I think we need some extra icons there too.

Context:
- The [gridicons-phone.svg](https://github.com/Automattic/gridicons/blob/master/svg-min/gridicons-phone.svg) is nice, but feels too abstract, "just a rounded square".
- The [gridicons-tablet.svg](https://g

[2015-07-21 21:38] #35 closed, assigned to nobody

[2015-07-21 21:47] davewhitley opened #64 "Add react component to Calypso"
- [ ] Add component
- [ ] Add to docs
- [ ] Render in devdocs/design

[2015-07-21 22:18] #61 closed, assigned to folletto

[2015-07-22 00:44] #49 closed, assigned to nobody

[2015-07-22 12:34] #64 closed, assigned to mtias

[2015-07-22 14:46] #55 closed, assigned to davewhitley

[2015-07-22 15:43] #39 closed, assigned to nobody

[2015-07-22 22:03] #57 closed, assigned to davewhitley

[2015-07-23 13:39] #50 closed, assigned to nobody

[2015-07-23 16:18] #33 closed, assigned to nobody

[2015-07-23 16:18] #54 closed, assigned to nobody

[2015-07-24 13:38] #37 closed, assigned to davewhitley

[2015-07-24 13:38] #38 closed, assigned to davewhitley

[2015-07-24 13:52] #20 closed, assigned to nobody

[2015-07-24 15:33] #31 closed, assigned to davewhitley

[2015-07-24 15:33] #43 closed, assigned to davewhitley

[2015-07-24 19:55] #56 closed, assigned to davewhitley

[2015-07-29 16:36] davewhitley opened #75 "Add icon: @"
Used in notifications

[2015-08-10 15:48] kellychoffman opened #77 "Add Icon: Media size toggle"
Context:

<img width="679" alt="screen shot 2015-08-10 at 11 42 54 am" src="https://cloud.githubusercontent.com/assets/5835847/9175676/fc6b8380-3f54-11e5-8c94-b4fb3f5136ab.png">

I was thinking `gridicon-menu` would be fine for list.
<img width="87" alt="screen shot 2015-08-10 at 11 44 50 am" src="https://cloud.githubusercontent.com/assets/5835847/9175727/3e2def06-3f55-11e5-92f4-2921cb8ed2a8.png">

[2015-08-14 20:11] #75 closed, assigned to davewhitley

[2015-08-14 20:11] #77 closed, assigned to nobody

[2015-08-14 20:16] davewhitley opened #79 "Add icon: Status post type"
Can we just use the comment icon for this one?

[2015-08-19 14:38] isaackeyet opened #80 "Add icon: Trophy"
Missing but highly needed for achievements/notifications and in various pages in Stats to highlight "best ever"-type data.

[2015-08-21 19:50] #51 closed, assigned to nobody

[2015-08-21 21:22] kellychoffman opened #82 "Add Icon: Image caption"
In the editor, you can add a caption to an image from the inline image toolbar. Right now we are using the `comment` icon, which isn't very intuitive:

<img width="648" alt="screen shot 2015-08-21 at 4 21 24 pm" src="https://cloud.githubusercontent.com/assets/5835847/9419364/b250c63c-4820-11e5-9166-3f384f1404ad.png">

[2015-08-27 20:39] isaackeyet opened #84 "New Posts Icon"
I've been thinking about the post/posts icon for [some time](https://github.com/Automattic/gridicons/issues/9#issuecomment-64089835).
# The Past

<img width="249" alt="screen shot 2015-08-27 at 22 19 34" src="https://cloud.githubusercontent.com/assets/3073557/9532153/17f9c6d0-4d0a-11e5-884d-47eceb2e0a53.png">

I think the old thumbtack fails/succeeds because:
- Now widely recognized by most of the

[2015-09-03 15:19] melchoyce opened #85 "Add Icon: email-open"
Maybe two:
- Closed envelope
- Open envelope with letter (See: https://wordpress.com/learn-more/?v=discover)

[2015-09-09 17:57] folletto opened #86 "Add icon: icon for post revisions / history"
Would it be possible to have an icon based on the ​`clock`​ gridicon that used the time machine "clock with arrow” metaphor to be used for post revisions?

/cc @mtias

[2015-09-10 15:52] folletto opened #87 "Add icon: scheduled time"
Would be nice to have an icon to use to indicate that a time has been set, an alternative version of `gridicons-time`.

[2015-09-14 10:06] #87 closed, assigned to nobody

[2015-09-14 10:06] #86 closed, assigned to nobody

[2015-09-14 16:59] davewhitley opened #92 "Readme tweaks"
@folletto, the new readme is really great. Here are some issues that I ran into:

current:

suggestion:

Not using the word "SVG" here helps separate the SVG file from SVG vector artwork.

current:

suggestion:

Fixed some typos and simplified.

On step 7, the exporter script defaulted to exporting the `add` icon which was incorrect, so I think we need to add a step. Something like:

Also on step

[2015-09-14 21:40] #92 closed, assigned to nobody

[2015-09-17 19:03] shaunandrews opened #96 "Add Icon: Recommendations (Thumbs Up/Down)"
We're working on a new Recommendations section for Reader, and I've been tossing around the idea of a Thumbs Up icon for this section:

<img width="310" alt="screen shot 2015-09-17 at 3 01 19 pm" src="https://cloud.githubusercontent.com/assets/191598/9943064/0807bda6-5d4d-11e5-9f12-14550f0e1d2a.png">

I created a really rough vector (all straight lines, no curves) in Sketch, but I'm not sure where

[2015-09-18 13:30] #48 closed, assigned to nobody

[2015-09-18 13:34] kellychoffman opened #97 "Add Icon: Print icon"
Previously discussed in https://github.com/Automattic/gridicons/issues/48 as part of the social icons, which have now been moved to a separate repo.

![](https://cloud.githubusercontent.com/assets/618551/9048242/35547bd2-39fd-11e5-9a9b-b909aacd542a.png)

[2015-09-18 16:51] #97 closed, assigned to nobody

[2015-09-18 21:33] gcorne opened #98 "Add script to generate `npm` package that can be used in Calypso"

[2015-09-25 21:23] rickybanister opened #99 "New icon: Sitemap or Network"
The noticon looks like this:

![screen shot 2015-09-25 at 5 23 08 pm](https://cloud.githubusercontent.com/assets/437258/10112547/1cfc713a-63aa-11e5-858e-dd65cd89216f.png)

This is used to signify a multi-user install (and might have other uses)

[2015-09-28 15:16] drw158 opened #101 "Make this repo public"
Is there anything we need to remove in order to make this repo public? How should we update the readme?

Edit (more clear goals):

My main goal for making the repo public is to update the icon section of the design handbook so that it is up-to-date: https://wordpress.com/design-handbook/

Stipulations:
- Ok to make public.
- Ok to fork
- Nobody external can suggest icons / add icons / else
- Socia

[2015-09-28 20:58] #80 closed, assigned to nobody

[2015-09-28 21:01] #44 closed, assigned to nobody

[2015-11-10 13:16] ockham opened #105 "Add icon: Website"
This is required by Calypso as the default icon (blavatar?) for a user's site. It's currently using `noticon-website`:

![noticon-website](https://cloud.githubusercontent.com/assets/96308/11063232/6e074af8-87b5-11e5-9a04-ec15dc0faa36.png)

I noticed there is a `globe` gridicon -- should we just use that?

[2015-11-13 15:19] blowery opened #110 "React: consider possible speed improvements with mapping"
Right now, we use a large switch statement to figure out which icon to render. Instead, we could have a function for each gridicon and a mapping of name → function. That would give us an O(1) search instead of an O(n) search to determine which icon to render. Since we render a ton of there, it might help speed up render times a bit.

[2015-11-30 17:12] #105 closed, assigned to nobody

[2015-12-04 08:29] jasmussen opened #119 "Grunt: SVGMin no longer removes fills"
Our gruntfile states that fills should be "cleaned up":

[code]

But it seems they aren't actually. Here's a snippet from the react component:

[code]

Notice the presence of `fill="none"`.

Most of the SVGs in our `svg` directory have `fill="none"`, which is actually harmless. But recently gridicons-speaker.svg was added, which had an actual color fill. See: https://github.com/Automattic/gridicon

[2015-12-04 12:48] #119 closed, assigned to nobody

[2015-12-04 13:05] folletto opened #123 "Build: use a DOM-aware library to manipulate SVGs"
Following from the discussion in #122, would be better if we were able to replace direct string manipulation with XML (SVG) aware libraries, such as [cheerio](https://github.com/cheeriojs/cheerio). This would make the code more reliable in the long term.

Example of direct string manipulation:

[code]

[2015-12-15 17:27] #32 closed, assigned to nobody

[2015-12-15 22:18] #85 closed, assigned to nobody

[2015-12-15 22:38] #34 closed, assigned to nobody

[2015-12-18 01:59] #36 closed, assigned to nobody

[2015-12-21 17:04] #79 closed, assigned to nobody

[2015-12-21 17:06] #45 closed, assigned to nobody

[2015-12-21 17:07] #96 closed, assigned to nobody

[2016-02-17 23:03] davewhitley opened #140 "Update icon: Book"
I wanted to see if I could improve the book icon and use 2dp lines. What do you think?

![screen shot 2016-02-17 at 5 01 01 pm](https://cloud.githubusercontent.com/assets/618551/13127987/3ddd2d44-d598-11e5-86da-24402003fb0a.png)

Original on the left, my variations on the right.

[2016-03-01 15:56] folletto commented on #101
![screen shot 2016-03-01 at 15 55 15](https://cloud.githubusercontent.com/assets/4389/13432549/05df5024-dfc6-11e5-9f05-4dd05947ef12.png)

We're open! :)

[2016-03-01 15:56] #101 closed

[2016-03-02 04:19] afsheenirani commented on #140
I have no design experience, but just sharing my views as a layman...

- I somehow could relate to 1 most as a book, and thinking about why, I realize a few facts
 - The _straight_ left edge gives it the feel of a closed book i.e., I would open the book from the side with the curved edge towards the side with the straight edge.
 - The straight white line down the left edge gives it the feel of a '

[2016-03-02 04:43] afsheenirani commented on #82
+1 to "Another idea" since it looks most like captioning as opposed to commenting.

It would be awesome if that same icon would depict something that looked like an image in the whitespace above the caption so it would read as image captioning...essentially a partial of what `<Gridicon icon="image" />` gives you.

[2016-03-02 08:18] jasmussen commented on #140
Though these designs are beautiful as always Dave, I'm slightly concerned about the 3 other versions, as they break our rule:

I realize it's very difficult to make a book icon without any 3D effect at all, but nonetheless all the other icons follow this guideline, I'd feel it was a step back if we threw that rule out the window now.

If we have to redesign this icon, here are some alternatives th

[2016-03-03 20:26] drw158 commented on #140
Thanks @jasmussen, I did consider the 3D aspect, but I think it's in the same ballpark as our other dimensional icons, like the flag.

Imo, the last two images you posted have the same amount of dimensionality as the icons that I proposed. I think we have to decide if there's a good reason for breaking the rule.

So, above all it has to look like it's in the same family of icons, and I think the p

[2016-03-03 20:32] drw158 commented on #140
Thank you @afsheenirani that is very helpful.

[2016-03-03 22:28] drw158 commented on #82
Refining that idea

![screen shot 2016-03-03 at 4 19 29 pm](https://cloud.githubusercontent.com/assets/618551/13511898/f0364622-e15c-11e5-866a-2b29636f882e.png)

[2016-03-03 23:12] kellychoffman commented on #82
Nice.

Do you think it looks too much like the New Post icon?

[2016-03-04 07:30] jasmussen commented on #140
We make the guidelines, so we can certainly break them :). But I don't think we should break them this far. The flag, it can be argued, is "folded flat". There's a curve on the bottom of the reader icon implying depth, but it's far less pronounced than this one, which not only curves all the way back, but folds around to the other side. It makes the book seem like it's leaning 45 degrees backwards

[2016-03-04 11:06] folletto commented on #82
It's similar... true. I wonder if they will be ever used one on the side of the other so they can give in some confusion. :)

Maybe it's still ok. I'm wondering if there's enough space to have the image "above" and the caption written by the pencil "below" instead of inside. That might make it even more clear.

[2016-03-05 01:46] afsheenirani commented on #82
For consistency with all image icons, we should probably use this as the image to which the caption is being added using the pencil. Thoughts?

![image](https://cloud.githubusercontent.com/assets/14303849/13544850/022aaace-e24a-11e5-9574-2ed2649ad176.png)

[2016-03-05 02:26] afsheenirani commented on #140
One idea might be to take the text whitespace at the top and have it display towards the bottom as well, so it visually reads as a "B"?! :smile:

[2016-03-07 14:40] kellychoffman commented on #82
@folletto True, I don't think the icon @drw158 suggested would ever be misconstrued as Add New Post because of its placement.

@afsheenirani  I think adding an image to the pencil would make it seem like you were editing the image itself.

[2016-03-07 15:11] drw158 commented on #82
@afsheenirani I like the idea of using the landscape image, I'll try that out.

[2016-03-08 23:07] drw158 opened #144 "Custom letterforms for icons (no Open Sans)"
I think we should consider custom letterforms, for some of our icons. The ? icon especially could use some help.

Left is current, options follow

![screen shot 2016-02-17 at 3 48 58 pm](https://cloud.githubusercontent.com/assets/618551/13619676/1bc26338-e550-11e5-8c77-f9b455fa60f1.png)

[2016-03-08 23:32] mattmiklic commented on #144
I like the second from left, though it feels like it needs at least a little bit of a stem descending from the aperture of the `?`. Definitely feels like a better match for the icon style than the Open Sans-based glyph.

[2016-03-09 10:53] jasmussen commented on #144
I also dig the second one from the left.

As a sidenote, as small as this sounds, it'd be good to think up some guidelines for what drives these custom letterforms, outside of just the general Gridicon guidelines. I noticed Google added a bunch of custom letterforms to their material set recently, and it's quickly clear there's a ruleset to their letterforms:

![screen shot 2016-03-09 at 11 50 11]

[2016-03-13 22:45] afsheenirani commented on #98
@retrofox, @jasmussen @gcorne - I think this is a great idea and I've been taking a look into it. I will submit a PR soon to kick-off discussions on the design based on a first draft that I've built.

However, at a high level, to answer @retrofox's question...the way I'm envisioning it to work is that once you install and import the gridicons package into calypso, all you would need to do to displ

[2016-03-17 15:56] drw158 opened #146 "Remove the 'backspace' Gridicon"
This icon has been in the repo since the beginning, but I don't think I've ever seen it used anywhere. The style of Gridicons has changed, and I think that it either needs to be removed, or tweaked to match the rest of the set.

![screen shot 2016-03-17 at 10 56 09 am](https://cloud.githubusercontent.com/assets/618551/13852148/e0f5ce6c-ec2e-11e5-85d1-58459e95c5cc.png)

[2016-03-17 15:58] drw158 opened #147 "Update 'microphone' icon"
This icon has been unchanged sine the beginning of this repo. It looks a little small, and I think it could use some tweaking.

![screen shot 2016-03-17 at 10 58 29 am](https://cloud.githubusercontent.com/assets/618551/13852243/349a7266-ec2f-11e5-8d6d-c7c8deb46ed1.png)

[2016-03-17 16:12] drw158 commented on #82
Latest:

![screen shot 2016-03-17 at 11 11 18 am](https://cloud.githubusercontent.com/assets/618551/13852650/0a9c5446-ec31-11e5-931e-a90c43079115.png)
![screen shot 2016-03-17 at 11 10 55 am](https://cloud.githubusercontent.com/assets/618551/13852654/0d3bf620-ec31-11e5-85c2-9a9fbf4ab20f.png)

[2016-03-17 16:13] jasmussen commented on #146
Sounds fine with me.

[2016-03-17 16:17] folletto commented on #82
I'd +1 that. :)
:shipit:

[2016-03-17 18:06] afsheenirani commented on #82
Nice...I would simply call this a "caption" icon...it is generic to be
applied to any use-case requiring captions i.e., images, figures, graphs,
etc.

On Thursday, March 17, 2016, Davide Casali <notifications@github.com> wrote:

[2016-03-21 20:04] drw158 commented on #144
Some more options

![screen shot 2016-03-21 at 3 01 30 pm](https://cloud.githubusercontent.com/assets/618551/13932425/fd66e7bc-ef75-11e5-83de-5f61aad5552c.png)

[2016-03-21 20:06] jasmussen commented on #144
1 and 3 look amazing, and 3 is my favorite. Nice work!

[2016-03-21 20:07] mattmiklic commented on #144
Agreed, I like both 1 and 3; slight aesthetic preference for 3, but if we want these to adhere to the "straight 45º angles" rule then I'd go with 1.

[2016-03-21 21:57] drw158 commented on #144
I will move forward with 3

Thanks!

I tried to go with something like this, but couldn't get it to work on the grid

![screen shot 2016-03-21 at 4 56 23 pm](https://cloud.githubusercontent.com/assets/618551/13935569/f96a4b3a-ef85-11e5-93d1-ef1ecbeb9a67.png)

[2016-03-22 17:30] melchoyce commented on #40
Have a need for this now! We need a "full screen" icon for the Customizer:

<img width="660" alt="screen shot 2016-03-22 at 1 19 32 pm" src="https://cloud.githubusercontent.com/assets/2846578/13961263/3ac58a3e-f032-11e5-94ae-c48ba1e43c47.png">

This would replace "( < ) Collapse"

[2016-03-22 17:55] folletto commented on #40
+1

I think that works. :)

[2016-03-22 19:07] drw158 commented on #40
I think the one @melchoyce made works well. Do we need an exit fullscreen icon?

[2016-03-22 19:15] melchoyce commented on #40
Yeah, an opposite one would be good. What do you think of this?

<img width="94" alt="screen shot 2016-03-22 at 3 14 44 pm" src="https://cloud.githubusercontent.com/assets/2846578/13964605/df56ba1a-f040-11e5-9187-0fda6f8bd10b.png">

[2016-03-22 21:52] drw158 commented on #147
My take:

![screen shot 2016-03-22 at 4 51 34 pm](https://cloud.githubusercontent.com/assets/618551/13969054/66f6cc1e-f04e-11e5-8690-a2315a766860.png)

[2016-03-23 13:17] #146 closed

[2016-03-31 14:28] kellychoffman opened #151 "Add icon: package"
Looking for a box/package icon for shipping.

Something like

<img width="88" alt="screen shot 2016-03-31 at 10 27 28 am" src="https://cloud.githubusercontent.com/assets/5835847/14178996/3bc4e538-f72b-11e5-87f5-b2194d95c2eb.png">
<img width="80" alt="screen shot 2016-03-31 at 10 27 32 am" src="https://cloud.githubusercontent.com/assets/5835847/14178995/3bc3a1f0-f72b-11e5-9fa4-705d4bfcf26c.png">
<i

[2016-03-31 17:18] drw158 commented on #151
Since we want to keep everything 2d, this will be hard, but here are some icons I whipped up for "shipment"

![screen shot 2016-03-31 at 12 09 44 pm](https://cloud.githubusercontent.com/assets/618551/14184338/4d089bbe-f73a-11e5-8fba-3124af4c2245.png)

[2016-03-31 17:38] #82 closed

[2016-03-31 18:29] kellychoffman commented on #151
Nice. The truck for 'shipping' is great. For 'package' I think the first or third one, but I'm not sure how the third one would look small. I think a single package would be ideal because one of the ways I want to use it is to denote the package type: a box versus an envelope.

[2016-03-31 18:40] drw158 commented on #151
Cool, I think the first one will work well.

[2016-04-15 20:00] kellychoffman commented on #151
Agree! Thanks, Dave.

[2016-05-19 19:43] drw158 opened #155 "Add icon: lightning icon"
For `offline`, and possibly `upgrade` in the future. And because it would be cool.

[2016-05-26 14:50] drw158 commented on #47
The work I've done on price so far (ignore the stray dots)

![screen shot 2016-05-26 at 9 49 52 am](https://cloud.githubusercontent.com/assets/618551/15578733/4598d33a-2327-11e6-984e-16a7a669c8f9.png)

[2016-05-26 14:53] folletto commented on #47
This seems a good direction:

![screen shot 2016-05-26 at 15 52 56](https://cloud.githubusercontent.com/assets/4389/15578828/f1881d72-2359-11e6-9d17-d1201f5bcbbd.png)

Would be worth adding a slight contour to the dot to make a face silhouette? :D

[2016-05-27 14:37] drw158 opened #172 "Update icon: add definition to mention"
![screen shot 2016-05-27 at 9 35 35 am](https://cloud.githubusercontent.com/assets/618551/15611127/7e2da71c-23ee-11e6-84b8-ea17090fa7a4.png)

I think the mention icon could benefit from a little bit more definition.

Before:

![screen shot 2016-05-27 at 9 37 00 am](https://cloud.githubusercontent.com/assets/618551/15611153/94bee13a-23ee-11e6-90f3-b136d80ca3b1.png)

[2016-05-27 20:08] drw158 commented on #47
![screen shot 2016-05-27 at 3 08 17 pm](https://cloud.githubusercontent.com/assets/618551/15619928/dd569ba8-241c-11e6-8c4b-79cb759bbc1e.png)
![screen shot 2016-05-27 at 3 08 08 pm](https://cloud.githubusercontent.com/assets/618551/15619930/df67e8b6-241c-11e6-8c03-ca14d5a78b73.png)

[2016-06-07 16:56] #47 closed

[2016-06-07 16:57] #151 closed

[2016-06-07 19:45] #144 closed

[2016-06-08 22:00] drw158 opened #175 "New icon: bug"
![screen shot 2016-06-08 at 5 00 09 pm](https://cloud.githubusercontent.com/assets/618551/15912513/7b28b2b8-2d9a-11e6-99d5-c75c23d3cc15.png)

[2016-06-08 23:51] coderkevin opened #176 "Bug: "react-pure-render/mixin" required without being in package.json"
'react-pure-render' is being required [here](https://github.com/Automattic/gridicons/blob/master/react/gridicon/index.jsx#L14) and [here](https://github.com/Automattic/gridicons/blob/master/react/gridicon/inc/index-header.jsx#L14).

However, package.json does not include this dependency.

[2016-06-10 11:58] folletto commented on #176
It's kinda... correct. Even if I understand might not be clear.

`package.json` for Gridicons is for the build process of the Gridicons package as a whole, while the generated React code in the package is meant to be included in other React project, which will handle packages as they prefer.

Does that sound right? :)

[2016-06-14 12:38] coderkevin commented on #176
I'm not sure. Usually a package contains all dependencies needed. I've not worked with a package that didn't declare all of its dependencies before.

[2016-06-14 12:49] folletto commented on #176
That's correct, but here these are two different things: the one you edited is `package.json` for the script that minifies, builds the sprites and the React component, it's not the `package.json` for the React component itself.

The `/react/gridicon` [folder](https://github.com/Automattic/gridicons/tree/master/react/gridicon) doesn't have any `package.json` file.

[2016-06-14 12:58] coderkevin commented on #176
So, I wonder which precedent we should choose to set here. The only other similar case I know of is  [i18n-calypso](https://github.com/Automattic/i18n-calypso), but I imagine there will be more like this coming.

In the case of i18n-calypso, it looks like it includes dependencies the React component would need in the top-level dependencies. I guess we just need to figure out how we want to deal wi

[2016-06-14 13:06] folletto commented on #176
In my view this is very different. The Gridicons repository is primarily a builder (all the scripts are building scripts to create the assets), and among the things it builds, it builds a react component.

Instead, `i18n-calypso` is only the component, which gets published on NPM directly.

So, we'd be comparing apple to oranges here.

We could probably generate the `/react/gridicon` folder to be

[2016-06-14 16:42] coderkevin commented on #176
That's a fair point, I suppose. It's possible to create a package for a subdirectory, it just makes extra steps for someone who wants to use the repo directly. Looks like folks have been asking for this kind of feature in npm for a while: https://github.com/npm/npm/issues/2974

If we were to publish a package from the subdir, it would depend on the package from the parent directory, which means we

[2016-06-14 16:52] folletto commented on #176
...

I'm not sure I understand: why would it depend on the parent? What's the dependency?

[2016-06-14 17:02] coderkevin commented on #176
Oh, my bad. I thought it had some dependency to the icons in the parent directory. If it's 100% independent of the parent directory after it's been generated, that simplifies things.

So, if it were published to npm separately, it could live as a separate entity and be happy that way with its own package.json and dependencies.

The only complication then would be for those of us wanting to use ico

[2016-06-14 17:56] folletto commented on #176
Yep independent. I'm not 100% sure, but I think the only needed bit is `index.jsx`.

Cool then! Let's see if we are thinking the same: the next step here could be to have the current generator to create a full, clean react component in a subfolder, so that can be easily copied 1:1 to a separate repository to be NPM published?

[2016-06-14 19:08] coderkevin commented on #176
I'm not sure it needs to be in a separate repo. I think you could publish from the subdirectory it's already in.

[2016-06-14 19:10] folletto commented on #176
Ok!

[2016-06-16 16:19] drw158 opened #178 "Money icon tweak"
It might make more sense in terms of guidelines to make the "face" in the money icon a rounded rect:

![screen shot 2016-06-16 at 11 18 21 am](https://cloud.githubusercontent.com/assets/618551/16124325/24a25e7e-33b4-11e6-8c27-f771beb0920c.png)

Instead of an oval:

![screen shot 2016-06-16 at 11 19 18 am](https://cloud.githubusercontent.com/assets/618551/16124342/3400cff4-33b4-11e6-8eeb-392c93e488

[2016-06-16 16:28] folletto commented on #178
Well thought! 👍

[2016-08-18 17:55] apeatling opened #181 "New icon: Reader Card"
We'd love to add this icon for previewing what a post will look like in the reader, and other services that offer a card view.

What do we need to do to make this fit the style guidelines?

![19d4e410-639f-11e6-9351-62ecd33fb48a](https://cloud.githubusercontent.com/assets/1464705/17784692/3fd4bfa2-6532-11e6-9093-e68098a56390.png)

[2016-08-26 14:29] rickybanister commented on #181
Since these previews are so linked to Publicize and the sharing settings, I feel it'd be much more intuitive to incorporate the sharing icon here. The proposed icon is really similar to the Reader icon and doesn't communicate much about Facebook/Google to me.

[2016-08-26 15:09] apeatling commented on #181
The sharing icon was the first idea, but it is confusing since the action of "Sharing" is easily mixed up with publicize. This isn't publicize, and is only really loosely related, so I think we need to be clear with a different icon.

[2016-08-26 16:16] rickybanister commented on #181
I agree with that, but replacing a sharing icon with something that looks like the Reader or the Globe or any other icon we already use to represent another idea doesn't seem to be an improvement.

@folletto mentioned trying some ideas that incorporated the sharing icon, but in a 'preview' context.

Perhaps we could overlay a magnifying glass on top of the existing Reader icon or something like th

[2016-10-14 16:07] drw158 commented on #181
Using the share icon is some way makes the most sense to me, since we are showing what the post looks like after you use Publicize, which uses the share icon. But, we also show the Google preview, so in that way it is related to SEO, which uses the magnifying glass icon.

Ideas:

![screen shot 2016-10-14 at 11 07 37 am](https://cloud.githubusercontent.com/assets/618551/19394354/740ca958-91fe-11e6-

[2016-10-14 16:12] folletto commented on #181
In my view it _has_ to include the sharing icon in some way. I really like both your proposal above containing it 👍

[2017-01-09 15:32] jasmussen opened #186 "Accessability: Add <title> to minified SVGs"
SVG allows us to add accessibility features to help screenreaders grok what an icon represents:

https://css-tricks.com/accessible-svgs/#article-header-id-6

We should add this. We already have the title of the icon, for example `gridicons-align-center`. We should add a section to the gruntfile that processes this into something like `<title>Align Center</title>`. Should be doable with a little re

[2017-01-17 18:16] #178 closed

[2017-01-17 18:26] #155 closed

[2017-01-17 21:05] drw158 commented on #84
Archiving this issue for now. This is a very good concept, but I think the proposed icon is a bit too abstract. The current posts icon is not perfect, but I think it's recognizable. I'd love more ideas for the Posts icon though.

[2017-01-17 21:05] #84 closed

[2017-01-17 21:08] drw158 commented on #53
@folletto Looks like Feature is using the customize icon, which I think works pretty well, maybe even better than the concepts presented here. Could we close this issue?

[2017-01-18 12:52] folletto commented on #53
I'd prefer to use something more specific, but I agree that for the time being it works.

[2017-01-18 16:52] #53 closed

[2017-01-18 16:52] drw158 commented on #53
Ok, we can reopen if needed.

[2017-01-31 20:35] #40 closed

[2017-01-31 20:35] #147 closed

[2017-01-31 20:35] #172 closed

[2017-02-01 20:28] #186 closed

[2017-02-01 21:37] gwwar commented on #98
Should be resolved by #188

[2017-02-01 21:37] #98 closed

[2017-02-01 22:17] drw158 commented on #176
is this obsolete now that we have an npm package for the react component? #188

[2017-02-02 11:03] folletto opened #193 "Build: check for a NPM native version to build PDFs"
Currently to build PDFs we use `CairoSVG` with these instructions:

[code]

Which uses Python thus it's currently a separate script.

Would be a good improvement to find an NPG/Grunt native way to automate everything.

[2017-02-02 16:03] drw158 commented on #193
possible alternatives

https://www.npmjs.com/package/librsvg

https://github.com/walling/node-rsvg

https://github.com/papandreou/node-inkscape

[2017-02-15 11:34] iseulde opened #197 "Code icon looks like left/light "chevron" arrows"
The code icon is a bit confusing to me because it could look like two small "chevron" arrows next to each other. To solve the issue, and to make the icon clearer, I would add a slash in he middle: `</>`.

While I was playing with a code block + up and down arrows, I ended up with this:

<img width="78" alt="screenshot 2017-02-15 12 32 00" src="https://cloud.githubusercontent.com/assets/4710635/229

[2017-02-15 11:58] jasmussen opened #198 "Consider starting a local node server for testing"
A recent commit moved the svg-sprite to use an externally referenced file, great for caching. However for SVG sandboxing reasons, that means the sprite demo page can only be tested when served from `http://` or `https://`, not from `file://`.

Can we leverage Node here, so that when you run `npm start` not only does it build changes when you make them, but it serves results on something like http:

[2017-02-16 16:25] drw158 opened #199 "New icon: half star?"
Do we need a half star icon for ratings?

![screen shot 2017-02-16 at 10 25 11 am](https://cloud.githubusercontent.com/assets/618551/23030060/3b6b00cc-f432-11e6-83a4-ac9f027ad006.png)

cc @MichaelArestad

[2017-02-20 15:28] MichaelArestad commented on #199
@drw158 No. We can do it with CSS or with a single SVG icon rather than multiple. You can just make a half SVG layer to colorize via CSS when needed.

[2017-02-20 18:03] #199 closed

[2017-03-09 19:41] ashleighaxios opened #200 "New icon: Cursor"
**What:** Cursor icon like one of the quick comps in the layers of this file:
[gridicons_cursor.ai.zip](https://github.com/Automattic/gridicons/files/832094/gridicons_cursor.ai.zip)
<img width="45" alt="screen shot 2017-03-09 at 2 37 37 pm" src="https://cloud.githubusercontent.com/assets/22752103/23767257/f8d79446-04d5-11e7-8cd9-24497b394373.png">
<img width="50" alt="screen shot 2017-03-09 at 2 3

[2017-03-16 15:48] drw158 commented on #200
Would a hand work? I think it might be more versatile.

![screen shot 2017-03-16 at 10 46 34 am](https://cloud.githubusercontent.com/assets/618551/24005031/e5bbbbc0-0a35-11e7-9efb-28edef5c61d0.png)
![screen shot 2017-03-16 at 10 47 47 am](https://cloud.githubusercontent.com/assets/618551/24005082/03c4245e-0a36-11e7-9119-30c7bbdccc3c.png)

[2017-03-16 17:12] ashleighaxios commented on #200
Sure would! Nice idea

[2017-03-20 16:19] drw158 commented on #200
I have 2 wip icons so far

![screen shot 2017-03-20 at 11 19 11 am](https://cloud.githubusercontent.com/assets/618551/24109594/1f9ccb8c-0d5f-11e7-8c19-4a11cce99936.png)
![screen shot 2017-03-20 at 11 02 54 am](https://cloud.githubusercontent.com/assets/618551/24109596/213a7f7a-0d5f-11e7-8ab7-26364148aec0.png)

[2017-03-20 16:27] ashleighaxios commented on #200
The arrow/cursor is so iconic and scales so well that it has a head start, but I do like the idea of the hand as something more device-agnostic and human.

[2017-04-04 15:33] drw158 opened #202 "New icon: Plan"
I think we need a better icon for `plan`. Currently we use the clipboard.

Some ideas:

- Heart
- Heart in a box
- Lightning bolt
- Up arrow
- present
- rocket
- variation of the star

[2017-04-07 09:10] folletto commented on #202
Note: we use the lightning bolt to signify "Offline" #187.

[2017-05-19 14:42] bluefuton opened #205 "Cross gridicon: omit title element?"
I've noticed that when we render the cross gridicon in Calypso, the SVG `<title>` (in this case `gridicons-cross`) is shown as a tooltip in Chrome.

https://raw.githubusercontent.com/Automattic/gridicons/master/svg/gridicons-cross.svg

Should we omit the title element where it just reflects the icon name?

![2017-05-19 16_39_37](https://cloud.githubusercontent.com/assets/17325/26252985/17ed855c-3c

[2017-05-19 14:50] folletto commented on #205
I'm not even sure it makes sense to include a title now that you point it out. Afaik it's [used for accessibility reasons](https://developer.mozilla.org/en/docs/Web/SVG/Element/title), but this is an abstract library, and as such:

1. If used in a decorative way, they probably shouldn't show up as interactive
2. If used in an active way, they should have a title that is "noun+verb" of the action t

[2017-05-19 15:25] drw158 commented on #205
Seems like a bug. You can see that the title of the icons are formatted correctly in the svg-min folder.

https://github.com/Automattic/gridicons/blob/master/svg-min/gridicons-cross.svg?short_path=b5df1b0#L1

For example, title of this icon is `Cross` not `gridicons-cross`.

So either the Gridicons package was not updated in Calypso, or Calypso is injecting its own title?

[2017-05-19 16:04] mtias commented on #205
This was raised for dashicons, and the argument seems to be that it's the opposite, titles should be removed from the svgs: https://github.com/WordPress/gutenberg/issues/528

The icon itself doesn't have a meaning, it's when it's wrapped as a button, etc, that it takes one, and then it's the button the one that should have an aria role.

[2017-05-19 16:07] folletto commented on #205
Ok let's split the two discussion for clarity :)

# Accessibility

Dave and I discussed a bit to clarify the positions above, and we both think some extra clarity is needed here: on one hand, `title` exists explicitly to be accessible, so it's good to have. On the other hand, "decorative images" and "images as part of a link" should have the alternative text void (see the [WAI tutorial here](https

[2017-05-19 16:09] drw158 commented on #205
I just talked with Davide about it. Sounds like we need to remove them entirely. Looks like we can remove title in the svg min process.

[2017-05-19 16:13] drw158 commented on #205
Oof, the svg sprite has the wrong titles. 😞

Maybe that's the problem?

[2017-05-19 17:27] drw158 opened #206 "Run svgmin on the svg folder in addition to the svg-min folder"
The svgs in the svg folder vary a lot in content and formatting, and ideally they should be pretty simple, like

[code]

As raised in #205 we don't need the title element.

This causes a change in our workflow. Currently , we say to export the svg to the svg folder in AI by using the export script.

https://github.com/Automattic/gridicons/blob/master/README.md#add-a-proposed-icon-to-gridicons-admi

[2017-05-19 17:37] folletto commented on #206
I'd probably go for this option, as I agree we shouldn't keep around a folder we don't use.

My only question would be if we have any use of the non-compressed folder... as it's just an output like `svg-min`, the sources are elsewhere, and `svg-min` seems preserving the invisible layers and shapes in graphic editing software... I think we can safely remove the `svg` only one.

[2017-05-25 19:41] shaunandrews opened #210 "New Icon: Password"
I've worked up an idea, but I'm pretty terrible with Illustrator. I tried my best, but if you can make it better, please do.

<img width="630" alt="screen shot 2017-05-25 at 3 17 58 pm" src="https://cloud.githubusercontent.com/assets/191598/26466624/5d075eba-415d-11e7-9eb4-a4b01cd1bece.png">

<img width="236" alt="screen shot 2017-05-25 at 3 39 36 pm" src="https://cloud.githubusercontent.com/asset

[2017-05-25 19:50] shaunandrews opened #211 "New Icon: Lock Opened"
<img width="835" alt="screen shot 2017-05-25 at 3 50 01 pm" src="https://cloud.githubusercontent.com/assets/191598/26467739/d7e07078-4161-11e7-9a75-9537d7ebdd31.png">

I based this off the existing lock icon.

<img width="260" alt="screen shot 2017-05-25 at 3 49 43 pm" src="https://cloud.githubusercontent.com/assets/191598/26467746/e04579f2-4161-11e7-897c-22babc2f6e79.png">

[lock-open.ai.zip](htt

[2017-05-25 21:58] drw158 commented on #210
We usually use the lock for 'password', and I believe we currently use the lock for the password field in the native apps. Any reason not to use the lock? Where would this icon be used?

[2017-05-25 21:59] drw158 commented on #211
I think this is good. I can dig into the file later.

[2017-05-25 22:00] sirbrillig opened #212 "Add babel-runtime to dependencies"
I tried to create a new nodejs Electron app with Gridicons by adding the package using npm. When run, I get this error: `Cannot find module 'babel-runtime/core-js/object/get-prototype-of'`.

It is, indeed, at the very beginning of the compiled Gridicons `build/index.js` file after building:

[code]

Installing the `babel-runtime` package from npm solves the issue.

I'm not sure why it's required,

[2017-05-26 00:05] shaunandrews commented on #210
We're looking to use this icon to denote a post's privacy status, which also include the lock and lock-open:

<img width="370" alt="screen shot 2017-05-25 at 8 04 27 pm" src="https://cloud.githubusercontent.com/assets/191598/26475354/7a7bee5c-4185-11e7-9da2-72fdeff98099.png">

[2017-05-26 09:45] folletto commented on #210
That's a hard one!

I feel the dots might be too similar to the "•••" ellipsis/overflow Gridicon... otherwise would work nice. What about using a "key" there: lock - lock - key seems a viable metaphor to me?

[2017-05-26 09:46] folletto commented on #211
Nice! 👍

[2017-05-26 09:48] folletto commented on #212
I'm not sure... I tried looking in the Gridicon source and I can't find a reference to it. Maybe something is injecting it?

[2017-05-26 14:30] sirbrillig commented on #212
Yeah, it's definitely not in the source. I imagine it has something to do with the build process, but there's a lot going on in there and I'm a little unclear on how it all works.

[2017-05-26 14:41] drw158 commented on #212
Thanks for trying it out on a project @sirbrillig

Invoking @gwwar in case she has a few minutes to take a look.

[2017-05-26 16:51] drw158 commented on #210
Some screenshots, just for reference:

![screen shot 2017-05-26 at 11 40 08 am](https://cloud.githubusercontent.com/assets/618551/26503895/20172b6a-4208-11e7-872a-fe9c0b4e2367.png)
![screen shot 2017-05-26 at 11 39 05 am](https://cloud.githubusercontent.com/assets/618551/26503897/220bb1e8-4208-11e7-9718-0d02e7ff53ef.png)

- I think we could use our `globe` icon for Public (we have a separate icon

[2017-05-26 18:37] gwwar commented on #212
Oh, odd that is being added to the final file. Instead of adding this as a dep, we should tweak the build so the final file is a valid self contained es5 file.

I might have gotten the options wrong in `Gruntfile.js`

[2017-05-26 20:22] drw158 commented on #211
In an effort to try to use non-angled lines and 2dp gaps if we can, how about this:

![screen shot 2017-05-26 at 3 20 20 pm](https://cloud.githubusercontent.com/assets/618551/26511285/faa0be0e-4226-11e7-8a62-8aada2edb969.png)

raised the "U" part by 1px and cut off the bottom.

[2017-05-26 21:51] #212 closed

[2017-05-28 18:55] michaeldcain commented on #210
I really like the `globe`, `user`, and `lock` combination. I can try it out in the component.

[2017-06-02 20:10] drw158 commented on #210
I'll close this for now since that PR was merged.

[2017-06-02 20:10] #210 closed

[2017-06-02 20:13] drw158 commented on #205
fixed by #207

 all `title`s have been removed

[2017-06-02 20:13] #205 closed

[2017-06-02 20:18] drw158 commented on #206
Hm, perhaps `svg` could be the exact same as `svg-min` except with the invisible rect added. We don't need the invisible rect in `svg-min` since it's just for graphic editing software. Then, one folder would be truly minified, and the `svg` could be used for mockups.

[2017-06-02 20:24] drw158 opened #215 "Make accessibility an option"
In an effort to make Gridicons an effective icon system, I think it would great to include a way to make the icon accessible as an option.

Take a look at this article:

https://css-tricks.com/can-make-icon-system-accessible/

Icons can be either **standalone** or **decorative**.

Standalone needs to be accessible and this is the standard pattern for that:

[code]

Decorative just needs `aria-hidd

[2017-06-09 15:07] #176 closed

[2017-06-09 21:01] drw158 commented on #202
Closing for now, because we are using the Jetpack icon.

[2017-06-09 21:01] #202 closed

[2017-06-09 21:06] drw158 commented on #181
@folletto Just realized, almost a year later, that we came to the same conclusion, here:

https://github.com/Automattic/wp-calypso/pull/7480#issuecomment-240169577

A desktop icon with the sharing icon inside it. I'll go ahead and make a PR with the icon.

[2017-06-10 21:48] folletto commented on #181
I didn't notice either! Way to cross-check our ideas 👯

[2017-06-12 20:47] drw158 commented on #197
Fixed in #221

[2017-06-12 20:47] #197 closed

[2017-06-12 20:55] drw158 commented on #181
fixed in #222

[2017-06-12 20:55] #181 closed

[2017-06-12 20:56] drw158 commented on #99
This one's pretty old, and we haven't needed it, so closing for now.

[2017-06-12 20:56] #99 closed

[2017-06-15 13:50] folletto commented on #206
This should be solved by the change in #217 right? Can we close?

[2017-06-15 17:02] drw158 commented on #206
Illustrator is now out of the process, but I still propose we:

- minimize the `svg` folder with grunt
- add the invisible rect to the svgs in the `svg` folder
- remove rect from the `svg-min` folder

The svgs in the svg folder are unnecessarily messy (AI comments, extra code, title, etc.)

I'll update the title of this PR.

[2017-06-15 20:10] drw158 commented on #175
Proposal:

![screen shot 2017-06-15 at 3 07 18 pm](https://user-images.githubusercontent.com/618551/27199724-ab10799a-51dc-11e7-8692-cf7db7a4f7d2.png)
![screen shot 2017-06-15 at 3 07 06 pm](https://user-images.githubusercontent.com/618551/27199727-acd98c9e-51dc-11e7-97fd-929fbb211fff.png)
![screen shot 2017-06-15 at 3 10 13 pm](https://user-images.githubusercontent.com/618551/27199748-c9fcd0f6-51

[2017-06-19 17:34] folletto commented on #206
Ok for me... even if I'd have opened a new PR as it would have better preserved history and would have been easier to read. But it's ok ;)

Yeah, I agree with this bit: the `svg` folder is now a source folder, so we shouldn't touch it with automated scripts.

But as you said...

I'm 100% ok to clear the SVG files take care of their code: it's one of the benefits we have gained with the new process

[2017-06-20 11:33] SergioEstevao opened #228 "Update example icons on the gallery site"
There has been some recent updates and additions to gridicons but it looks the example library [here](https://wpcalypso.wordpress.com/devdocs/design/gridicons)
 was not updated.

Can we please update the example library.

[2017-06-20 11:37] SergioEstevao opened #229 "New Icon: Play"
At the moment we have a Pause icon on the library but it looks we don't have the counter part to do play.

Can we have a Play icon?

My use case scenario is on the mobile apps we have support for videos on the editor. By default they start paused and it will be nice to overlay a Play icon on top to indicate to the users that it's a video and you can play them.

Here is an example of the current ic

[2017-06-20 12:36] folletto commented on #228
This isn't a Gridicons issue, it's a Calypso issue.

Gridicons example is here: http://automattic.github.io/gridicons/

If you want to update Calypso documentation open an issue here: https://github.com/Automattic/wp-calypso/issues

[2017-06-20 12:36] #228 closed

[2017-06-20 13:58] SergioEstevao commented on #228
@folletto why don't we link to this page on the Readme instead? is this updated automatically?

[2017-06-20 14:26] folletto commented on #228
It's a good question. :D
Ok for you if I reopen it as a request to update the README? :D

[2017-06-20 21:53] #175 closed

[2017-06-22 15:35] #229 closed

[2017-06-22 15:35] drw158 commented on #229
see #233

[2017-07-12 08:20] afercia commented on #205
To clarify and for history:

Theoretically, the SVG `<title>` and `<description>` elements _are_ designed for accessibility, and should have meaningful values to give an accessible name and an accessible description. If that only worked.

Unfortunately, current support is not ideal. There are workarounds, see:
https://www.paciellogroup.com/blog/2013/12/using-aria-enhance-svg-accessibility/

Howeve

[2017-07-12 10:39] folletto commented on #205
Thanks @afercia. In Calypso we also tend to never use the icon alone, always wrapped in a button or some other kind of control – so I think we're in the same situation. :)

[2017-07-12 16:35] mapk opened #236 "New icon: Nametag"
I'd like to create a new icon indicating a name of something.

<img width="576" alt="grid" src="https://user-images.githubusercontent.com/617986/28128529-e09e0e48-66e4-11e7-945b-2946ebc82957.png">

For example, using it in a possible NUX flow here:

![nux-flow](https://user-images.githubusercontent.com/617986/28128615-2d2abc02-66e5-11e7-9af9-2e6846a92c93.png)

With other icons:
<img width="541" al

[2017-07-12 16:50] mapk commented on #236
Not sure if the clip part of the icon is done correctly. Please advise. It's off the grid, but keeping correct width and radii.

[2017-07-12 16:51] drw158 commented on #236
Looks like a good idea to me. Do you mind opening a PR with the svg file added to the sources/svg folder? I'd like to look at the file.

[2017-07-12 16:59] mapk commented on #236
PR created here: https://github.com/Automattic/gridicons/pull/237

[2017-07-12 17:29] drw158 commented on #236
I try to not overlay solid shapes with white strokes, because usually there is a tendency to use a 1px stroke and make the icon looks less solid or too detailed. Do any of these alternate designs on the right look good to you?

Same 3 icons shown at different resolutions

![screen shot 2017-07-12 at 12 26 01 pm](https://user-images.githubusercontent.com/618551/28130780-87393bac-66fd-11e7-996f-407d

[2017-07-12 22:48] mapk commented on #236
OK @drw158, keeping the conversation here on the ticket, I do like this one that you created here. That's probably my favorite so far!
![alternate](https://user-images.githubusercontent.com/617986/28143219-613a8ec6-6719-11e7-9fa5-dafe2739efae.png)

The only other idea I had was this, which is moved over from the PR thread.
![option-3](https://user-images.githubusercontent.com/617986/28143249-70975

[2017-07-12 22:50] mapk commented on #236
@drw158 would you like me to update the PR with the one you created?

[2017-07-13 00:02] drw158 commented on #236
I think this one might be my favorite, but fine with either one:

![screen shot 2017-07-12 at 7 00 03 pm](https://user-images.githubusercontent.com/618551/28144962-61520c0c-6734-11e7-9ea9-4437f7c72120.png)

The 1px white stroke I think is my main concern with your idea. We try to minimize 1px strokes as much as we can. And, if the stroke is 2px it seems like it's too big, and too much negative spa

[2017-07-13 00:05] mapk commented on #236
Let's go with that one. I do like the added weight of the top black bar to signify the 'name badge' feeling. Would you like me to update the PR?

[2017-07-13 00:06] drw158 commented on #205
@afercia thank you for the clarification! In that case, do you think #215 is a good idea for an icon set?

[2017-07-13 00:07] drw158 commented on #236
Sure, thank you for working with me!

[2017-07-13 00:42] mapk commented on #236
Awesome! I've updated the PR with the new icon. Please review and let me know if there's anything else I can do to help here. :)

[2017-07-13 06:53] afercia commented on #205
@drw158 seems a sensible idea, not sure how SVGs can be programmatically built "on the fly" with and without title/desc though.

[2017-07-19 19:55] drw158 opened #240 "New icon: Jetpack logo (plans)"
Unfortunately this is another logo, but we need to add it for the time being.

We use the Jetpack logo for the Plans icon:

![screen shot 2017-07-19 at 2 49 23 pm](https://user-images.githubusercontent.com/618551/28386587-ad4eec26-6c91-11e7-8076-f9adce7c209d.png)

Much like the W logo for 'My Sites', the Jetpack logo should be added to Gridicons and named 'plans' or 'plan'.

We need to be clear th

[2017-07-19 20:00] drw158 commented on #236
Done! #239

[2017-07-19 20:00] #236 closed

[2017-07-19 22:06] drw158 commented on #240
Svg file:

[jetpack.zip](https://github.com/Automattic/gridicons/files/1160617/jetpack.zip)

[2017-07-28 15:23] folletto opened #242 "Update icon: Create (Write)"
![screen shot 2017-07-28 at 15 38 54](https://user-images.githubusercontent.com/4389/28724131-f2114c7a-73b0-11e7-92f1-e333cba66f09.png)

![screen shot 2017-07-28 at 15 37 20](https://user-images.githubusercontent.com/4389/28724137-f5ac1978-73b0-11e7-8954-4d3aab200f60.png)

We had some feedback on mobile that the "Write" icon (`gridicon-create`) is a bit too obscure. This might be due to various re

[2017-07-28 15:25] drw158 commented on #242
Previous work: #84

[2017-07-28 15:58] drw158 commented on #242
Just some thoughts:

It's hard to imagine something more clear for 'Write' than the pencil icon. The 'pencil-in-a-box' icon is also pretty standard from my POV, but I realize I'm biased in that way. It's possible that the Write icon is not even clear that it's a pencil, which would be a problem! I like the idea of just a pencil. Some ideas I would try:

- make it more clear that it's a pencil
- tr

[2017-07-28 16:04] folletto commented on #242
Yay thanks! I think there are in there already a few explorations that can be done and iterated upon!

[2017-07-28 16:38] joanrho commented on #242
The Noun Project has a great collection of creative community-sourced, but moderated/curated icons. Here's what they have for [Create](https://thenounproject.com/search/?q=create) and [Write](https://thenounproject.com/search/?q=write). In addition to the standard sheet of paper and superimposed pencil icon, there are other options like the plus sign in a circle (+), or a plus sign over a sheet of

[2017-07-28 16:51] drw158 commented on #242
I think the problem with going more abstract or generic (like just a plus icon) is that, in trying to accommodate and include everything (images, text, video, etc), you lose the clarity and instant recognition that comes with an icon that is more distinguishable.

[2017-07-28 16:54] folletto commented on #242
I agree on the plus... unless we are able to evolve it in a way that feels still specific enough? I just don't want to preclude too much in the initial brainstorming phase ;)

I like all the other ideas thrown in. Especially doing some benchmarking, which will also help avoiding to be too generic, while being still clear. :)

[2017-09-04 23:15] folletto commented on #242
Here's some explorations:

![screen shot 2017-09-05 at 00 15 05](https://user-images.githubusercontent.com/4389/30039909-4cdbce8c-91cf-11e7-98f0-fd4d2c4dd140.png)

[2017-09-05 10:18] folletto commented on #242
This size is kinda tricky for the limitation in the amount of details we can have...

![artboard](https://user-images.githubusercontent.com/4389/30056747-d7507c0a-922b-11e7-82db-61ff09e348e1.png)

[2017-09-05 10:40] jameskoster commented on #242
I think this will be very challenging and we should probably try to be one or the other.

For clarity I think it will be difficult to beat a pen/pencil. I really like this one:

![pencil](https://user-images.githubusercontent.com/618551/28725578-7ca8d26e-7383-11e7-904e-ae8d1cf3c746.png)

But it's essentially a riff on what we already have. If that's already too obscure this one probably would be a

[2017-09-05 10:44] folletto commented on #242
That icon has the same "square in square" effect that made me open this issue... it feels odd in the toolbar, but even worse on mobile when it's literally inside a square. It's just coincidental... but it feels odd.

I really like the quill, I'm just worried Twitter already made it "its" thing... and it's SO on brand for them...

We're a smart bunch, I'm sure we can :D

[2017-09-05 12:51] jameskoster commented on #242
That pencil looks like it's writing RTL, could we have an LTR version and display the relevant icon based on your locale? xD

In all seriousness, my concern with this icon is that the additional detail on the pen/pencil actually makes it less clear. I can now see a syringe/epipen, or a jackhammer. The original pencil was un-mistakably a pencil, to my eye. I wonder how that would look with an under

[2017-09-05 12:57] folletto commented on #242
Or a stick. Or a chisel. Or a pipette. .... I think that's mostly habit. It's hard to do this kind of change. :)

Icons, especially at this size, will always have some degree of uncertainty – in general, they aren't clear at all, as we should label them. :D

Good point. Plus as Joan mentioned above has a strong connotation.

Yesssss! More divergent ideas! :D

[2017-09-07 16:27] folletto commented on #242
5
![5](https://user-images.githubusercontent.com/4389/30174053-a89d9786-93f1-11e7-872d-593ca9372908.png)

Trying to make it look less needle-y and adding the plus for additional clarity.

[2017-09-07 17:52] jameskoster commented on #242
I think that's definitely an improvement :)

[2017-09-27 13:56] jasmussen commented on #242
I think this touches at the core of it.

That said, I do think a simple plus could work, as it's becoming a standard for "new stuff" across a wide variety of places. It may not read as well as Davide's last pencil there, but another benefit it has is that it can look really nice in context of the other "big five". Regardless of which implementation we go with, the icon should be designed next to t

[2017-09-28 12:07] folletto commented on #242
Note: we had done tests on mobile and the ”simple" icon wasn't effective, so if we change it, I would try something _else_ than an abstract pen. Which yes, a simple "+" could do. :)

[2017-10-11 00:29] mattmiklic commented on #242
I'm a little late to the party, but I think one thing that makes the current icon unclear is the perspective and size difference between the page and the pencil above it. If you compare it to the [iOS compose icon](https://developer.apple.com/documentation/uikit/uibarbuttonsystemitem/1617156-compose) that (I think) inspired it, the position of the pencil on the page, its hollow shape, and its size

[2017-10-11 11:29] folletto commented on #242
Ok, so I did a couple of examples with the + we have, and a couple of variations just to avoid leaving any stone unturned as unlikely as it might be:

6
![6](https://user-images.githubusercontent.com/4389/31438069-7e02b148-ae7f-11e7-8ff8-f8c2bd59cd14.png)

7
![7](https://user-images.githubusercontent.com/4389/31438080-804345b2-ae7f-11e7-9e3b-4fc8fbe64609.png)

8
![8](https://user-images.githubuser

[2017-10-11 11:35] jasmussen commented on #242
I like 7, even though for sure it will take some getting used to. It could be worth a test, maybe?

[2017-10-13 13:52] mattmiklic commented on #242
I'm kind of drawn to 8, it seems to best convey "add a new thing." I may like it because it seems familiar, since Snapchat uses a similarly-styled icon to add a new story item:

![img_3275](https://user-images.githubusercontent.com/1396552/31548875-61cfacb6-affa-11e7-80cc-e4dee1a43860.jpg)

Instagram goes with something pretty close to a pure + though, just with a roundrect around it — this might

[2017-10-13 14:00] jasmussen commented on #242
I can dig 8, with a few tweaks. There's an optical line imbalance with the word next to it here:

![screen shot 2017-10-13 at 15 59 35](https://user-images.githubusercontent.com/1204802/31549806-8efd11ee-b02f-11e7-9775-7004063c09d4.png)

This can either be fixed by moving the plus slightly more inside the box like in the snapchat icon, or potentially moving the entire icon up a bit. Seems worth ex

[2017-10-13 14:05] folletto commented on #242
It still bothers me a little it's a "box-in-a-box", but I guess it can't be avoided that much... it's semantically probably more effective than the pure "+"... so maybe we can review the UI later to avoid it?

Anyhow... here two iteration on 8 (one max size, one smaller)

10
![10](https://user-images.githubusercontent.com/4389/31550044-eb6ce8e4-b027-11e7-9159-6a59fe2c37e1.png)

11
![11](https://us

[2017-10-13 14:08] jasmussen commented on #242
I could 👍 👍  :shipit:  to 10. It's visually nice, deliciously simple, and the plus is the clearest of the two. It also aligns better in the button.

[2017-10-13 21:23] drw158 commented on #242
Looks good and 10/11 are shippable, but I still stand by my original stance that if it becomes generic we lose that instant recognition. I think WordPress in general is about writing text primarily, and media is secondary or supportive. For example, if I publish a photo, the platform is designed for text to accompany that photo (nothing is stopping you from just posting a photo of course). This co

[2017-10-16 10:40] folletto commented on #242
I'm with you here in a general sense, but as mentioned in the original issue at the top we did tests and the current icon doesn't perform well. With the plus it might get some extra "meaning of add" that is lost in the current one so we have a chance it could perform better.

I personally would have liked a more "branded" approach like Twitter (they aced this, with a little bit of luck, sure) but

[2017-11-14 10:15] AnnaMag opened #261 "New icon: adding Jetpack icon in Gridicons"
While working on issues in Calypso I found that having an JP icon as part of the Gridicons set would help keep the layout standardized, e.g. https://github.com/Automattic/wp-calypso/issues/18893 would not be happening.

Is adding a Jetpack icon to Gridicons a possibility?

[2017-11-14 10:20] folletto commented on #261
The current approach is that any logo should not be in Gridicons.

We have Social Logos: https://github.com/Automattic/social-logos

Social logos should build in a similar way to Gridicons (even if, I still have to port the updated build process), but it's more careful to make sure that the correct logos are used.

I won't close this issue right off just to see if we might want to review this deci

[2017-11-14 10:26] AnnaMag commented on #261
Thanks @folletto for putting it in a context. It makes sense code-wise and wanted to check-in about the design perspective.

[2017-11-14 15:33] drw158 commented on #261
I believe this is a dupe of #240

I made that issue a while ago, but I think my reasoning was:

It's a similar situation to the My Sites icon. The Jetpack logo has become an icon. We may need to tweak the Jetpack logo, and the Social Logo icons are not tweaked at all; the vectors are untouched.

[2017-11-14 15:46] folletto commented on #261
If we introduce it as "Plans" icon with tweaked proportions, it would fit the need, you're right. I would avoid to include it as a "Jetpack" icon tho, similar to "My Sites" is not "WordPress".

[2017-12-04 10:24] sirreal commented on #240
Just adding a note that I believe the zip above contains an outdated icon

[2017-12-11 20:16] folletto opened #265 "Doc: review of page for SVG guidelines"
I've started a page for the source SVG guidelines:
https://github.com/Automattic/gridicons/wiki/Guidelines-for-SVG-Sources

The idea is to have some standardized guidance on how we should have the SVGs in the source folder.

First draft copy-pasted below.

---

### Guidelines for SVG Sources

Here's the current draft for a guideline to write the SVG used in the icon set sources. It's still in prog

[2017-12-11 21:48] folletto commented on #265
@jancavan noted in https://github.com/Automattic/gridicons/pull/264#issuecomment-350864681 that we might not even need fill as the SVG will likely get a default color?

Needs to be tested I guess :D

[2017-12-11 21:59] jancavan commented on #265
Yeah, definitely needs to be tested. I removed the `fill` attribute from the icons in that PR and they seem to be viewable just fine.

[2017-12-12 08:04] jasmussen commented on #265
Nice! Great start.

Much of what is achieved in following those, can be achieved by dropping the SVG in https://jakearchibald.github.io/svgomg/ — right?

[2017-12-12 17:11] jancavan commented on #265
@jasmussen I think so, depending on the settings/features you select. I had to manually just clean up mine though!

[2017-12-13 10:13] folletto commented on #265
Thanks for the link, I'll review the tool above!

[2017-12-20 13:56] folletto commented on #265
I cross checked this, and confirmed. Well spotted ⭐️

I also checked the [1.1](https://www.w3.org/TR/SVG/painting.html#FillProperties) and [2.0 spec](https://www.w3.org/TR/SVG2/painting.html#SpecifyingFillPaint) to be sure, and yes, `fill` has a default value that is not `transparent` but `black`. TIL.

[2017-12-20 14:03] folletto commented on #265
I tested this. It does a lot indeed!

I'd note the following:

1. It strips IDs too (all or nothing). Not all IDs imho should be stripped. The actual icon one could stay. Even if... we have a build process after that?
2. It should be put in "Prettify" mode, as otherwise it goes for max compression. I'd appreciate if the source file stays readable as its source might contain useful bits for CSS ani

[2017-12-20 14:08] folletto commented on #265
Ok, updated. Check if it looks alright:

---

Here's the current draft for a guideline to write the SVG used in the icon set sources. It's still in progress, and feel free to review.

1. Remove any internal `style` reference, `fill` included (it defaults to black).
2. The `svg` tag should contain only the `xmlns` and `viewBox` attributes.
3. Keep or add the `<?xml version="1.0" encoding="UTF-8"?>`

[2018-01-10 18:42] mattmiklic commented on #261
The Jetpack logo is now being used as the icons for the Plans link in Calypso nav. @MichaelArestad created a 24px version of the logo that should align with Gridicons in https://github.com/Automattic/wp-calypso/pull/20718.

[2018-01-10 21:02] #240 closed

[2018-01-10 21:04] mattmiklic commented on #261
Resolved by #273.

[2018-01-10 21:04] #261 closed

[2018-01-11 11:57] #265 closed

[2018-01-27 23:11] shivapoudel opened #278 "How can I use this in WordPress instead of dashicons?"
I want to use gridicon in WordPress CPT and `add_menu_page` but fill is not set so all icons are black.

![capture1](https://user-images.githubusercontent.com/3774827/35477271-9b5c7b8a-03e7-11e8-9a16-abd59228b657.PNG)

[2018-01-29 15:35] drw158 commented on #278
Hey there, according to this, replacing `fill="none"` with `fill="black"` should work.

https://stackoverflow.com/questions/30620226/custom-svg-admin-menu-icon-in-wordpress/42265057#42265057

Can you test that out and see if it works?

[2018-01-29 15:51] shivapoudel commented on #278
@drw158 Agreed. With the fill attribute it works great but when on admin load it flickers with colors to match every time.

[2018-03-13 17:55] folletto opened #286 "Discussion: is `package-lock.json` needed?"
This issue emerged first after we aligned [Social Logos](https://github.com/Automattic/social-logos/) to the new build system from Gridicons:

* https://github.com/Automattic/social-logos/pull/58
* https://github.com/Automattic/social-logos/pull/57

And then recently the file was added in Gridicons, after another unrelated update:

*  https://github.com/Automattic/gridicons/pull/285

In both situa

[2018-03-13 18:11] gwwar commented on #286
So basically the package.lock is awesome when we want consistent CI builds (which we don't have yet), or if we're a non-library project. This file isn't published, which means that clients like Calypso will pull down the latest of whatever package.json specifies.

Here's the worst case scenario: let's say we have a library dependency that is not pinned. Let's call this package `foo` at `^1.2.3`. T

[2018-03-13 18:15] folletto commented on #286
To be clear: by "pinned" you mean that `package.json` should specifiy an exact version, correct?

[2018-03-13 18:15] gwwar commented on #286
Yes, an exact version!

[2018-03-13 18:19] folletto commented on #286
Ok!

Given:

* this is a small package, and an icon set
* we currently have only one `dependencies` (`prop-types`)
* all the other dependencies are `devDependencies`
* we have already pinned the only one that caused build issues (`svg-to-pdfkit`)

I'd consider the second choice to be the ideal.

We can reconsider at a later point.

[2018-03-13 18:27] folletto commented on #286
Ok added PR to remove it: https://github.com/Automattic/gridicons/pull/287

[2018-03-13 18:31] folletto commented on #286
And added PR to remove it from Social Logos too: https://github.com/Automattic/social-logos/pull/61

[2018-03-13 18:59] folletto commented on #286
Both issues got merged. ✅  ✅

Thank you @gwwar for the always precise and clear feedback. :)

[2018-03-13 18:59] #286 closed

[2018-03-13 19:09] gwwar commented on #286
Thanks for following up on this one! 💖

[2018-03-14 02:16] blakewilton opened #288 "Gridicons Nested Symbols – Sketch"
Hello, I created a sketch file today with all of the current Gridicons as a symbol with a nested color symbol so the colors of the icons can be hot-swapped via symbol overrides. This may be a helpful file for designers who using Gridicons in their design projects. [https://drive.google.com/open?id=1uE-RKa3wuzXWxOf3F8a1INvbI7Plq6l5](url)

[2018-07-02 09:38] jameskoster opened #292 "New Icon: WooCommerce"
We're using Gridicons in the wc-admin project we're currently working on and have a need for a Woo bubble icon. Is that the sort of thing that makes sense to add to Gridicons? If so I'll open a PR, if not we'll work something else out :)

@folletto @drw158

[2018-07-02 09:39] folletto commented on #292
If it's a logo, it's usually better suited for https://github.com/Automattic/social-logos :)

Note that the "W" is instead in Gridicons because it has been tweaked (weight, size, balance) to be aligned with the Gridicons standard, so it's not anymore exactlu "the logo", and that's why it's also named "my sites".

[2018-07-02 16:11] jameskoster commented on #292
Yeah I thought as much, but it's a little grey as the Jetpack logo is in there as well.

I'll wait for more consensus, the icon is ready to go either way.

[2018-07-02 16:13] folletto commented on #292
Similar to "My Sites", that's not Jetpack but "Plans" :)

[2018-07-03 08:36] jameskoster commented on #292
Yeah I don't think there's any meaning.

Let's add to Social Icons.

[2018-07-03 08:36] #292 closed

[2018-07-18 13:22] #110 closed, assigned to nobody

[2018-07-18 13:22] blowery commented on #110
Super stale and we have individual imports now.

[2019-08-08 14:18] #288 closed

[2019-08-08 14:19] drw158 commented on #278
My guess is that there is some sort of override in the WP Admin CSS.

[2019-08-08 14:19] #278 closed

[2019-08-08 14:21] drw158 commented on #242
Closing since a new icon was made in #256  for this purpose instead of updating the Write icon.

[2019-08-08 14:21] #242 closed

[2019-08-08 14:22] drw158 commented on #211
There doesn't seem to be an immediate need for this, but we can always reopen if there is another request for it.

[2019-08-08 14:22] #211 closed

[2019-08-08 14:23] drw158 commented on #200
There doesn't seem to be an immediate need for this, but we can always reopen if there is another request for it.

[2019-08-08 14:23] #200 closed

[2019-08-08 14:25] drw158 commented on #193
I believe we can close this because we use pdfkit now. https://github.com/Automattic/gridicons/blob/87c9fce08b4a9f184b9fb4963228757fdd4f4e74/package.json#L45

[2019-08-08 14:25] #193 closed

[2019-08-08 14:26] #206 closed

[2019-08-08 14:27] folletto commented on #193
Correct. :)

[2021-03-01 18:35] Gio2018 opened #316 "Generated PDF is off center"
**Expected behavior:**
Once an icon is approved and `grunt` has been executed, the generated pdf file should be centered

**Actual behavior:**
The generated pdf is off-center. As a reference these two pdf were recently auto-generated:

[trending icon](https://github.com/Automattic/gridicons/blob/master/pdf/gridicons-trending.pdf)

[recent icon](https://github.com/Automattic/gridicons/blob/master/p

[2021-03-18 19:45] davewhitley commented on #316
@folletto just in case you have any ideas here. Probably the pdf generator?

[2021-03-19 10:47] folletto commented on #316
The problem doesn't seem to be in the PDF, but in the SVG. When I regenerate all the PDFs, I get all of them correct but a few specific images, like `trending`.

Guess: the SVG path is not centered, but drawn as if it's positioned at the origin. For some reason it still works when the SVG with the rectangle is generated, but it doesn't with PDF specs.

Digging a bit:

* If I export that same trend

[2021-04-18 23:44] samueljseay opened #317 "Conflicting peer dependencies"
As of npm 7 peer dependencies are installed by default, this brings up a conflict for us in wc-admin with npm 7 between this library and others that use 17.x versions of React.

Is there any downside to extending support of your peer dependencies in this package to cover React 17? I'd be happy to submit a PR to add this if needed.

[2021-08-31 19:01] noahtallen commented on #317
Done in #318, though we still need to publish

[2021-08-31 19:01] #317 closed